.navigator
  text-align center
  > *
    font-size 12px
    display inline-block
    background-color #3d88dd
    width 30px
    height 30px
    margin 10px 2px 0 2px
    line-height: 30px
    border-radius 6px
    cursor pointer
    &:hover
      background-color darken(#3d88dd,20%)
